body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.person-info {
    display: flex;
}

section {
    display: flex;
    flex-wrap: wrap;
}

footer {
    margin: 0 auto;
}